@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;  
    color:#000000
}

.aboutMainBody{
  margin: auto;
  padding: 30px;
}

.title {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color:#000000
}

.title-wrapper {
margin: 12px;
}

.App {
  text-align: center;
}

.image{
  pointer-events: none;
  float:right;
  height:30vh;
  margin-left: 20px;
  margin-right: 20px;
}

