.menulogo{
    height: 100px;
    pointer-events: none;
    margin: 20px ;
  }

  .menuContainer{
    width: 300px;
  }


  .menuHeader{
    background-color: #282c34;
    width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .userText{
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: white;
    overflow-wrap: break-word;
  }