@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body, html {
  background-color: #8b8c90ee;
    font-family: 'Lato-Thin', sans-serif;
    font-weight: 400;
    font-size: 15px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.mainBody{
  margin: auto;
}

.title {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color:#282c34
}

.title-wrapper {
margin: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.divider {
  margin: auto;
  height: 1px;
  width: 80%;
  background-color: white;
}

.App-link {
  color:#282c34;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
