   
    @media screen and (max-width:480px){.footer {
    background-color: #282c34;
    min-height: 1rem;
    width: 100vw;
    display: flex;
    position:fixed;                  
    bottom:0;                           
    left:0;          
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }

  .footer-text {
    font-family: 'Lato-Thin', sans-serif;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.6rem;
    color: white;
    margin: 0.2rem;
    margin-right: 0.4rem;
  }

.copyrightText{
  margin-right: 0.4rem;
}
    }
  
    @media screen and (min-width:481px){
      .footer {
        background-color: #282c34;
        min-height: 3rem;
        width: 100vw;
        display: flex;
        position:fixed;                  
        bottom:0;                           
        left:0;          
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        color: white;
      }
    
      .footer-text {
        font-family: 'Lato-Thin', sans-serif;
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-size: 1rem;
        color: white;
        margin: 1rem;
        margin-right: 1rem;
      }
    
    .copyrightText{
      margin-right: 1rem;
    }
        }
      
  